*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial;
    

}
body{
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{

    width: 400px;
    height: 600px;
    background-color:grey;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.2);
    display: flex;
    flex-direction: column;  /* Stack children vertically */
    justify-content: center; /* Center children vertically */
    align-items: center;
    position: relative; 
    
    
}

.innerContainer1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


h2 {
    text-align: center;
    margin-bottom: 20px;
    color: blanchedalmond;
    font-size: 20px;
    /* font-weight: 300; */
    position: absolute;      /* Position h2 absolutely */
    top: 25%;
}

.innerContainer1 textarea{

    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
}

button{
    
    width:300px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color:blanchedalmond;
    color: grey;
    border: none;

}

#result{
   
    margin-top: 20px;
    font-size: 18px;
    color:blanchedalmond;
    border: 1px solid #ccc; /* Add a 1px solid border with light gray color */
    padding: 10px 20px; 
    border-radius: 10px;
}